{% extends 'seller/base.html' %}
<!-- --  -->
{% block main %}

<div class="dash-wrapper">
    <h4>Dashboard</h4>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="row app-dash-top">
                <div class="col s12 m6 l3 overview-col">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <p class="card-heading center">Today</p>
                            </div>
                            <div class="col s7 m7 l7">
                                <p class="data right">1000.00</p>
                            </div>
                            <div class="col s5 m5 l5">
                                <p class="side-assets">2 order
                                    <span> (4 items)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col  s12 m6 l3 overview-col">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <p class="card-heading center">Yesterday</p>
                            </div>
                            <div class="col s7 m7 l7">
                                <p class="data right">1000.00</p>
                            </div>
                            <div class="col s5 m5 l5">
                                <p class="side-assets">2 order
                                    <span> (4 items)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col  s12 m6 l3 overview-col">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s12">
                                <p class="card-heading center">Last 7 days</p>
                            </div>
                            <div class="col s7">
                                <p class="data right">1000.00</p>
                            </div>
                            <div class="col s5">
                                <p class="side-assets">2 order
                                    <span> (4 items)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col  s12 m6 l3 overview-col">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s12">
                                <p class="card-heading center">Today</p>
                            </div>
                            <div class="col s7">
                                <p class="data right">1000.00</p>
                            </div>
                            <div class="col s5">
                                <p class="side-assets">2 order
                                    <span> (4 items)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s12 m12 l6">
                    <div class="row">
                        <div class="col s12 table-col">
                            <div class="card-panel">
                                <p class="table-heading">Top Selling Products</p>
                                <table class="responsive-table">

                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Item Name</th>
                                            <th>Item Price</th>
                                            <th>Item Price</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>Alvin</td>
                                            <td>Eclair</td>
                                            <td>Eclair</td>
                                            <td>$0.87</td>
                                        </tr>
                                        <tr>
                                            <td>Alan</td>
                                            <td>Jellybean</td>
                                            <td>Jellybean</td>
                                            <td>$3.76</td>
                                        </tr>
                                        <tr>
                                            <td>Jonathan</td>
                                            <td>Lollipop</td>
                                            <td>Lollipop</td>
                                            <td>$7.00</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="col s12 table-col">
                            <div class="card-panel">
                                <p class="table-heading">Near to Stock Out Products</p>
                                <table class="responsive-table">

                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Item Name</th>
                                            <th>Item Price</th>
                                            <th>Item Price</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>Alvin</td>
                                            <td>Eclair</td>
                                            <td>Eclair</td>
                                            <td>$0.87</td>
                                        </tr>
                                        <tr>
                                            <td>Alan</td>
                                            <td>Jellybean</td>
                                            <td>Jellybean</td>
                                            <td>$3.76</td>
                                        </tr>
                                        <tr>
                                            <td>Jonathan</td>
                                            <td>Lollipop</td>
                                            <td>Lollipop</td>
                                            <td>$7.00</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l6 ">
                    <div class="row ">
                        <div class="col s12">
                            <div class="card-panel data-card ">
                                <div class="row">
                                    <div class="col s12">
                                        <p class="table-heading">Hub Order</p>
                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s6 m2 l2 data-col">
                                        <div class="card-panel center border-left">
                                            To Manifest
                                            <p>5<span> (0)</span></p>
                                        </div>
                                    </div>
                                    <div class="col s6 m3 l3 data-col">
                                        <div class="card-panel center hide-on-small-only border-left">
                                            SLA breached today
                                            <p>5<span> (0)</span></p>
                                        </div>
                                        <div class="card-panel center hide-on-med-and-up">
                                            SLA breached today
                                            <p>5<span> (0)</span></p>
                                        </div>
                                    </div>
                                    <div class="col s6 m3 l3 data-col">
                                        <div class="card-panel center border-left">
                                            SLA breached
                                            <p>5<span> (0)</span></p>
                                        </div>
                                    </div>
                                    <div class="col s6 m4 l4 data-col">
                                        <div class="card-panel center ">
                                            Return received yesterday
                                            <p>5<span> (0)</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card-panel data-card ">
                                <div class="row">
                                    <div class="col s12">
                                        <p class="table-heading">Listing</p>
                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s6 m3 l3 data-col">
                                        <div class="card-panel center border-left">
                                            Total Products

                                            <p>{{ product_count }}</p>

                                        </div>
                                    </div>
                                    <div class="col s6 m4 l4 data-col">
                                        <div class="card-panel center hide-on-small-only border-left">
                                            Stocked Out Products
                                            <p>{{stocked_out_prod_count}}</p>
                                        </div>
                                        <div class="card-panel center hide-on-med-and-up">
                                            Stocked Out Products
                                            <p>5</p>
                                        </div>
                                    </div>
                                    <div class="col s6 m3 l3 data-col">
                                        <div class="card-panel center border-left">
                                            Disable/Hidden
                                            <p>5</p>
                                        </div>
                                    </div>
                                    <div class="col s6 m2 l2 data-col">
                                        <div class="card-panel center ">
                                            Stock Below 5
                                            <p>5</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card-panel data-card ">
                                <div class="row">
                                    <div class="col s12">
                                        <p class="table-heading">Issues</p>
                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s4 data-col">
                                        <div class="card-panel center border-left">
                                            Hub Issue
                                            <p>5</p>
                                        </div>
                                    </div>
                                    <div class="col s4 data-col">
                                        <div class="card-panel center border-left">
                                            Customer Issue
                                            <p>5</p>
                                        </div>
                                    </div>
                                    <div class="col s4 data-col">
                                        <div class="card-panel center">
                                            Seller Issue
                                            <p>5</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card-panel data-card ">
                                <div class="row">
                                    <div class="col s12">
                                        <p class="table-heading">Product Details</p>
                                        <div class="divider"></div>
                                    </div>
                                    <div class="col s3 data-col">
                                        <div class="card-panel center border-left">
                                            Pending for Approval
                                            <p>5</p>
                                        </div>
                                    </div>
                                    <div class="col s4 data-col">
                                        <div class="card-panel center border-left">
                                            Product Without Image

                                            <p>5</p>
                                        </div>
                                    </div>
                                    <div class="col s5 data-col">
                                        <div class="card-panel center ">
                                            Product without Specification

                                            <p>5</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</div>
<!-- --  -->
{% endblock %}