{% extends 'seller/base.html' %}
<!-- --  -->
{% block main %}

<div class="container">

    <h5>Product Listing <span><a href="{% url 'seller:add_product' %}" class="right">Add Product</a></span> </h5>


    <table class="responsive striped">
        <thead>
            <tr>
                <th></th>
                <th>Product Name/Code</th>
                <th>List Price</th>
                <th>MRP</th>
                <th>Quantity</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
            <tr>
                <td>
                {% if product.product_image is not None  %}
                    <img src="{{ product.product_image.url }}" alt="Product Image" data-holder-rendered="true"
                        width="60" height="60">
                {% endif %}
                </td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.product_price }}</td>
                <td>{{ product.product_MRP }}</td>
                <td>{{ product.product_quantity }}</td>
                <td>{{ product.product_status }}</td>
                <td>
                    <div>
                        <ul id="dropdown3" class="dropdown-content">
                            <li><a href="{% url 'seller:update_product' product.id %}">Edit</a></li>
                            <li><a href="{% url 'seller:delete_product' product.id %}">Delete</a></li>
                        </ul>
                        <a class="dropdown-button" href="#" data-activates="dropdown3"><i
                                class="material-icons">settings</i><i class="mdi-navigation-arrow-drop-down"
                                style="line-height: inherit; height: inherit;"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<!-- --  -->
{% endblock %}